<!DOCTYPE html>
<html>
  <head>
    <title>Journaling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/navigation' %>
  </head>

  <body>
    <% @all_data = HTTP.auth("Bearer HV5IST6QLORF4Y6ZDHUC").get("https://www.eventbriteapi.com/v3/events/search/?location.address=England&subcategories=14009").to_s %>
    <%= render 'shared/messages' %>
    <%= yield %>

  </body>
</html>
